@*@model GridViewPartialRenderDTO
@{
    Customer.InfoModel Row = Model.Row.Data;
}

@if (Model.Action == ActionType.CustomColumnGeneration)
{
   @* if (Model.Column.Name == "ContainersNumber")
    {
        <td>
            <button class="btn btn-sm btn-outline-success" onclick="Containers(@Row.Id, '@Row.Title')"><i class="bi bi-card-list"></i> @Row.ContainersNumber</button>
        </td>
    }

    else if (Model.Column.Name == "ProductTipsNumber")
    {
        <td>
            <button class="btn btn-sm btn-outline-success" onclick="ProductTips(@Row.Id, '@Row.Title')"><i class="bi bi-card-list"></i> @Row.ProductTipsNumber</button>
        </td>
    } 
}
else if (Model.Action == ActionType.MenuGenerate)
{
    <div class="dropdown">
        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            @Model.RowIndex
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" onclick="@($"Edit('{Row.Id}')")">ویرایش</a>
        </div>
    </div>
}*@